{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 50.178595,
    "longitude": 30.4924884,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home Assistant",
    "time_zone": "Europe/Kyiv",
    "external_url": null,
    "internal_url": null,
    "currency": "UAH",
    "country": "UA",
    "language": "ru"
  }
}